.contact {
  display: grid;
  grid-template-columns: min-content;
  justify-content: center;
  align-content: center;
  ::selection {
    background-color: #f7f7ff;
    color: $yellow;
  }
  @media only screen and (max-height: 25em) {
    align-content: initial;
  }
  @media only screen and (max-height: 31.25em) and (max-width: $bp-1000) {
    align-content: initial;
  }
  &__grid {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    text-align: center;
    width: 100rem;
    @media only screen and (max-width: $bp-1000) {
      width: 80rem;
    }
    @media only screen and (max-width: $bp-800) {
      width: 60rem;
    }
    @media only screen and (max-width: $bp-600) {
      width: 40rem;
    }
    @media only screen and (max-width: $bp-400) {
      width: 30rem;
    }
    > * {
      background-color: $dark-grey;
    }
  }

  &__heading {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: #f7f7ff;
    font-size: 6rem;
    text-transform: uppercase;
    padding: 2rem;
    font-weight: 300;
    &--secondary {
      border-radius: 0;
      padding-top: 0;
      font-size: 3.5rem;
      border-bottom: 1rem solid $yellow;
    }
  }
  &__social {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1rem solid $yellow;
    &-box {
      &:not(:first-child) {
        margin-left: 1rem;
      }
      height: 7rem;
      width: 7rem;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
      &:hover {
        background-color: #181f1c;
        box-shadow: 0 2rem 4rem rgba(black, 0.5);
        transform: translateY(-3px);
      }
      &:active,
      &:focus {
        box-shadow: none;
        transform: translateY(0);
      }
      > svg {
        height: 5rem;
        width: 5rem;
        fill: #f7f7ff;
      }
    }
  }
  &__footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    text-align: center;
    color: $dark-grey;
  }
}
