.curtain {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--sticky {
    z-index: 2;
  }
  &--active {
    z-index: 1;
  }
  &--intro {
    background-color: $white;
  }
  &--about {
    background-color: $blue;
  }
  &--skills {
    background-color: $orange;
  }
  &--projects {
    background-color: $purple;
  }
  &--contact {
    background-color: $yellow;
  }
}
