.intro {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-row-gap: 2rem;
  @media only screen and (max-width: $bp-600) {
  }
  ::selection {
    background-color: $dark-grey;
    color: white;
  }
  &__info {
    color: $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__photo {
    height: auto;
    width: 30rem;
    @media only screen and (max-width: $bp-300) {
      width: 25rem;
    }
  }
  &__heading {
    color: $dark-grey;
    font-size: 8rem;
    font-weight: 300;
    text-transform: capitalize;
    border-top: 1rem solid $dark-grey;
    @media only screen and (max-width: $bp-350) {
      font-size: 6rem;
    }
  }
  &__subheading {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    @media only screen and (max-width: $bp-300) {
      font-size: 1.5rem;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100vh;
    left: 1rem;
    top: 0;
    @media only screen and (max-width: $bp-600) {
      left: auto;
      top: auto;
      position: relative;
      height: 100%;
      width: 100%;
      flex-direction: row;
    }
    &-box {
      padding: 1.5rem;
      border-radius: 50%;
      background-color: $dark-grey;
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
      transition: all 0.4s;
      @media only screen and (max-width: $bp-300) {
        padding: 1rem;
      }
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 1rem 2rem rgba(black, 0.4);
      }
      &:active,
      &:focus {
        transform: translateY(0);
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
      }
      > svg {
        height: 4rem;
        width: 4rem;
        fill: $white;
        @media only screen and (max-width: $bp-300) {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }
  }
}

.leftside {
  position: absolute;
  top: 5rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: $bp-500) {
    top: 2rem;
    right: 1rem;
  }
  img {
    height: 14rem;
    width: auto;
    align-self: flex-end;
    transition: all 0.4s;
    &:hover {
      transform: translateX(4.5rem);
      cursor: pointer;
    }
    @media only screen and (max-width: $bp-500) {
      height: 10rem;
    }
  }
  > h4 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateX(-6rem);
    @media only screen and (max-width: $bp-500) {
      font-size: 1.6rem;
      transform: translateX(-4rem);
    }
  }
}
