/* FIREFOX HACK FOR MINIMUM SCREEN HEIGHTS */
@-moz-document url-prefix() {
  .projects {
    margin-top: 6rem;
    @media only screen and (max-height: 34.375em) {
      margin-top: 0;
    }
  }
}

.projects {
  display: grid;
  grid-template-rows: min-content min-content;
  align-items: center;
  align-content: center;

  @media only screen and (max-height: 25em) {
    align-content: initial;
  }

  @media only screen and (max-height: 50em) and (max-width: $bp-600) {
    align-content: initial;
  }

  &__heading {
    color: $white;
    font-family: "Londrina Solid", cursive;
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    @media only screen and (max-width: $bp-600) {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: $bp-300) {
      font-size: 6rem;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-600) {
      flex-direction: column;
      margin-bottom: 2rem;
    }
    > * {
      &:not(:last-child) {
        margin-right: 2rem;
        @media only screen and (max-width: $bp-600) {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
  &__project {
    background-color: $white;
    padding: 2rem;
    border-radius: 50%;
    box-shadow: 0 2rem 4rem rgba(black, 0.25);
    transition: all 0.4s;
    &:hover {
      cursor: pointer;
      transform: translateY(-1rem);
      box-shadow: 0 2rem 4rem rgba(black, 0.45);
    }
    &:active,
    &:focus {
      transform: translateY(0);
      box-shadow: 0 2rem 4rem rgba(black, 0.25);
    }
    > img {
      height: 9rem;
      width: 9rem;
      @media only screen and (max-width: $bp-800) {
        height: 7rem;
        width: 7rem;
      }
      @media only screen and (max-width: $bp-300) {
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

.projects--project {
  @media only screen and (max-height: 43.75em) {
    align-content: initial;
  }
  @media only screen and (max-height: 75em) and (max-width: $bp-800) {
    align-content: initial;
  }
  .projects__heading {
    margin-bottom: 1rem !important;
    > span {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
