//COLORS
$white: #fefeff;
$dark-grey: #393e41;
$blue: #30bced;
$orange: #f25757;
$purple: #e36397;
$yellow: #ffe74c;
$star-yellow: #f6f740;

//BREAKPOINTS

$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-940: 58.75em;
$bp-800: 50em;
$bp-700: 43.75em;
$bp-650: 40.625em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-400: 25em;
$bp-350: 21.875em;
$bp-300: 18.75em;
