*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-650) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-300) {
    font-size: 46.875%;
  }
}

body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: $white;
  @media only screen and (max-width: $bp-600) {
    overflow-y: visible;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  @media only screen and (max-width: $bp-600) {
    height: 100%;
  }
}

.stage {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  @media only screen and (max-width: $bp-600) {
    overflow-y: visible;
  }
}

.curtain > * {
  height: 100%;
  width: 100rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 6rem 0;
  &::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (max-width: $bp-600) {
    overflow-y: visible;
    opacity: 0;
  }
}

/* FIREFOX OVERFLOW PADDING HACK FOR MINIMUM SCREEN HEIGHTS */
@-moz-document url-prefix() {
  .curtain > *:after {
    content: "";
    display: block;
    height: 6rem;
  }
}
